.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin-bottom: 40px;
  }

  & .error-message {
    position: absolute;
    top: 20px;
    color: red;
  }

  .box {
    position: relative;
  }

  button:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
