@import 'styles/utils/vars';

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  .box {
    position: relative;
  }

  button:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.verification-message {
  margin-top: 20px;
  color: get-color('gray6');
}
