@import '../../../styles/utils/_vars.scss';

.tableBg {
  border-radius: 10px;
  overflow: auto;
  width: 280px;

  background-color: rgba(115, 115, 115, 0.043);
  @media (min-width: 768px) {
    border-radius: 20px;
    width: 765px;
  }
  @media (min-width: 1280px) {
    border-radius: 30px;
    width: 755px;
  }
}

.transactionsTable {
  width: 100%;
  border-collapse: collapse;
  line-height: 23.58px;
  color: get-color('black');
  overflow: hidden;
  border-radius: 15px;
  @media (min-width: 768px) {
    border-radius: 20px;
  }
  @media (min-width: 1280px) {
    border-radius: 30px;
    width: 755px;
  }
}

.transactionsTableHead {
  background-color: get-color('white');
  border-radius: 30px;

  @media (min-width: 768px) {
    border-radius: 20px;
  }

  @media (min-width: 1280px) {
    border-radius: 30px;
  }
}

.transactionsTablebody {
  background-color: transparent;
}

.transactionsTable th {
  text-align: center;
  font-size: get-font-size('primary');
  position: relative;
}

.thName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;

  &:hover .iconSort {
    fill: #172af1;
    filter: drop-shadow(2px 2px 4px rgba(0, 34, 255, 0.232));
  }
}

.transactionsTable td {
  text-align: center;
  font-size: get-font-size('secondary');
}

.transactionsTable tr {
  height: 60px;
  transition: background-color 0.3s ease;
}

.transactionsTable tr:hover {
  background-color: rgba(0, 34, 255, 0.05);
}

.transactionsTable tr td {
  border-bottom: 1px solid #ccc;
}

// .transactionsTable tr:last-child td {
//   border-bottom: none;
// }

.transactionsTable tr td:last-child {
  height: 60px;
}

.transactionsTable th:not(:last-child):hover {
  cursor: pointer;
}

.sumSection {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.iconTransactions {
  margin-left: 10px;
}

.iconTransactions:hover {
  cursor: pointer;
}

svg {
  fill: #4a56e2;
  transition: filter 0.3s ease, fill 0.3s ease;

  &:hover {
    fill: #172af1;
    filter: drop-shadow(2px 2px 4px rgba(0, 34, 255, 0.232));
  }
}

.amountPlus {
  color: #24cca7;
}

.amountMinus {
  color: #ff6596;
}

.tablePlus {
  color: #24cca7;
}

.tableMinus {
  color: #ff6596;
}

@media (max-width: 767px) {
  .transactionsTable {
    display: grid;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    td {
      height: 40px;
      &[data-type='Income']::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background-color: #24cca7;
      }
      &[data-type='Expense']::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background-color: #ff6596;
      }
    }
    td::before {
      font-weight: 700;
      content: attr(data-label);
    }
    td:last-child::before {
      display: none;
    }

    thead {
      display: none;
    }

    tr {
      display: grid;
      border: 1px solid #dcdcdf;
      margin-bottom: 10px;
      height: 338px;
      background-color: white;
      position: relative;
      border-radius: 15px;
      td:last-child {
        border: none;
      }

      &[data-type='Income']::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background-color: #24cca7;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &[data-type='Expense']::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background-color: #ff6596;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
    td {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 27px;
      height: 40px;
    }
  }
}
