@use 'styles/utils/mixins';
@import 'styles/utils/vars';

.statsContainer {
  display: flex;
  flex-direction: column;
}

.chartsYearly {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.insideChartDoughnut {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insideChartBar {
  width: 600px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartsMonthly {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.selections {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
  margin-bottom: 20px;

  @include mixins.mq(tablet) {
    flex-direction: row;
    gap: 300px;
  }
}

.selectors {
  width: 250px;
}

.layoutMonthly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.chartStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
  @media (min-width: 767px) {
    gap: 200px;
  }
  @media (min-width: 1280px) {
    gap: 50px;
  }
}

.tableBg {
  border-radius: 10px;
  overflow: auto;
  width: 280px;

  //background-color: rgba(115, 115, 115, 0.043);
  @media (min-width: 768px) {
    border-radius: 30px;
    width: 336px;
  }
  @media (min-width: 1280px) {
    border-radius: 30px;
    width: 506px;
  }
}

.categoryTable {
  width: 100%;
  border-collapse: collapse;
  line-height: 23.58px;
  color: get-color('black');
  overflow: hidden;
  border-radius: 30px;

  @media (min-width: 1280px) {
    border-radius: 30px;
  }
}

.categoryTableHead {
  background-color: get-color('white');

  th {
    border-bottom-right-radius: 30px;
  }
  th:first-child {
    border-bottom-right-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  @media (min-width: 1280px) {
    border-radius: 30px;
  }
}

.categoryTable th,
.categoryTable td {
  text-align: left;
  font-size: get-font-size('secondary');
}

.categoryTable th:first-child,
.categoryTable td:first-child {
  padding-left: 20px;
}
.categoryTable th:last-child,
.categoryTable td:last-child {
  padding-right: 20px;
}

.categoryTable tr {
  height: 60px;
  transition: background-color 0.3s ease;
}

.categoryTable tr:hover {
  background-color: rgba(0, 34, 255, 0.05);
}

.categoryTable tr td {
  border-bottom: 1px solid #ccc;
}

.categoryTable tr:last-child td {
  border-bottom: none;
}

.legendColor {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: inline-block;
}
.noDataMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
