@use 'styles/utils/mixins';
@import 'styles/utils/vars';

.statsContainer {
  display: flex;
  flex-direction: column;
}

.chartsYearly {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.insideChartDoughnut {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insideChartBar {
  width: 600px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartsMonthly {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.selections {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mixins.mq(tablet) {
    flex-direction: row;
    gap: 300px;
  }

  @include mixins.mq(desktop) {
  }
}

.selectors {
  width: 250px;
}

.layoutMonthly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
