@import '../../styles/utils/_vars.scss';
.tableBg {
  margin-top: 28px;
  margin-left: 20px;
  background-color: get-color('purple3');
  width: 280px;
  height: 174px;
  border-radius: 30px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  @media (min-width: 768px) {
    margin-left: 32px;
    margin-top: 32px;
    width: 336px;
    height: 182px;
  }
  @media (min-width: 1280) {
    margin-left: 18px;
    margin-top: 32px;
    width: 393px;
    height: 331px;
  }
  &::after {
    content: url('../../images/baseline.svg');
    position: relative;
    bottom: -30px;
    right: 0px;
  }
}

.tableBg::-webkit-scrollbar {
  width: 0px;
}

.tableBg::-webkit-scrollbar-thumb {
  // background-color: #7a7a7a;
  background-color: transparent;
  // border-radius: 6px;
}

.currencyTable {
  border-collapse: collapse;
  line-height: 23.58px;
  color: get-color('white');
  min-width: 393px;
  table-layout: fixed;
}

.currencyTable thead th {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10;
}

.currencyTable th {
  text-align: center;
  width: 33.33%;
  font-size: get-font-size('primary');
  height: 50px;
  @media (min-width: 1280) {
    height: 60px;
  }
}

.currencyTable td {
  text-align: center;
  font-size: get-font-size('secondary');
}

.currencyTable tr {
  height: 50px;
  @media (min-width: 1280) {
    height: 60px;
  }
}
