@import '../../styles/utils/_vars.scss';

.tableBg {
  margin-top: 28px;
  background-color: get-color('purple3');
  width: 280px;
  height: 174px;
  border-radius: 30px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;

  @media (min-width: 768px) {
    margin-top: 32px;
    width: 336px;
    height: 182px;

    &::after {
      content: url('../../images/baseline.svg');
      position: relative;
      bottom: -30px;
      right: 0px;
    }
  }

  @media (min-width: 1280px) {
    margin-top: 32px;
    width: 393px;
    height: 331px;

    &::after {
      content: url('../../images/baseline.svg');
      position: relative;
      bottom: -40px;
      right: 0px;
    }
  }

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.currencyTable {
  border-collapse: collapse;
  line-height: 23.58px;
  color: get-color('white');
  min-width: 100%;
  table-layout: fixed;
}

.currencyTable thead th {
  position: sticky;
  top: 0;
  background-color: #6e78e8;
  z-index: 10;
  padding-left: 15px;
}

.currencyTable th {
  text-align: center;
  width: 33.33%;
  font-size: get-font-size('primary');
  height: 50px;

  @media (min-width: 1280px) {
    height: 60px;
  }
}

.currencyTable td {
  text-align: center;
  font-size: get-font-size('secondary');
}

.currencyTable tr {
  height: 50px;

  @media (min-width: 1280px) {
    height: 60px;
  }
}
