@import '../../styles/utils/_vars.scss';

.tableBg {
  border-radius: 30px;
  overflow: auto;
  width: 755px;
  background-color: rgba(115, 115, 115, 0.043);
}

.transactionsTable {
  width: 755px;
  border-collapse: collapse;
  line-height: 23.58px;
  color: get-color('black');
  // table-layout: fixed;
  overflow: hidden;
  border-radius: 30px;
}

.transactionsTableHead {
  background-color: get-color('white');
  border-radius: 30px;
}

.transactionsTablebody {
  background-color: transparent;
}

.transactionsTable th {
  text-align: center;
  font-size: get-font-size('primary');
  position: relative;
}

.thName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;

  &:hover .iconSort {
    fill: #172af1;
    filter: drop-shadow(2px 2px 4px rgba(0, 34, 255, 0.232));
  }
}

.transactionsTable td {
  text-align: center;
  font-size: get-font-size('secondary');
}

.transactionsTable tr {
  height: 60px;
}

.transactionsTable tr td {
  border-bottom: 1px solid #ccc;
}

.transactionsTable tr:last-child td {
  border-bottom: none;
}

.transactionsTable tr td:last-child {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.transactionsTable th:not(:last-child):hover {
  cursor: pointer;
}

.sumSection {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.iconTransactions:hover {
  cursor: pointer;
}

svg {
  fill: #4a56e2;
  transition: filter 0.3s ease, fill 0.3s ease;

  &:hover {
    fill: #172af1;
    filter: drop-shadow(2px 2px 4px rgba(0, 34, 255, 0.232));
  }
}

.amountPlus {
  color: rgb(17, 192, 17);
}

.amountMinus {
  color: rgb(255, 0, 0);
}
