@use 'styles/utils/mixins';
@import 'styles/utils/vars';

body {
  font-family: get-font('secondary');
  font-size: get-font-size('primary');
  color: get-color('brand_color-second');
  background-color: get-color('gray-body');
}

.background {
  backdrop-filter: blur(25px);
  height: 100vh;
  width: 100vw;

  @include mixins.mq(tablet) {
    position: relative;

    &::before {
      content: url('../../images/bg/bg-pink.svg');
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: -1;
      filter: blur(25px);
    }

    &::after {
      content: url('../../images/bg/bg-violet.svg');
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: -1;
      filter: blur(25px);
    }
  }
}

.wrapper {
  height: 100vh;
  padding-top: 120px;
  display: flex;
  flex-direction: column;

  @include mixins.mq(tablet) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @include mixins.mq(desktop) {
  }
}

.mainMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.mainTabletAndDesktop {
  width: 704px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mixins.mq(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.sidebar {
  @include mixins.mq(tablet) {
    width: 480px;
    height: 200px;
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }

  @include mixins.mq(desktop) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.main {
  display: flex;
  justify-content: center;
}
