@use 'styles/utils/mixins';
@import 'styles/utils/vars';

.button {
  width: 280px;
  height: 50px;
  border-radius: 20px;
  border: 0;
  font-family: get-font('primary');
  font-size: 18px;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  @include mixins.mq(tablet) {
    width: 300px;
  }
  @include mixins.mq(desktop) {
    width: 300px;
  }
}

.button-color {
  @extend .button;
  background: get-color('green1');
  color: get-color('white');

  &:hover {
    background: get-color('green2');
  }
}

.button-white {
  @extend .button;
  background-color: get-color('white');
  border: 1px solid;
  border-color: get-color('purple3');
  color: get-color('purple3');

  &:hover {
    background: get-color('purple3');
    color: get-color('white');
  }
}
