@import '../../styles/utils/_vars.scss';
.balance {
  background-color: get-color('white');
  width: 280px;
  height: 80px;
  margin-top: 12px;

  border-radius: 30px;
  display: flex;
  padding-left: 32px;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 768px) {
    width: 336px;
    margin-top: 28px;
    // margin-left: 32px;
    padding-left: 40px;
  }
  @media (min-width: 1280) {
    width: 395px;
    margin-top: 28px;
    // margin-left: 16px;
    padding-left: 40px;
  }
}
p {
  margin: 0;
}

.title {
  padding-top: 8px;
  font-size: 12px;
  font-family: get-font('primary');
}

.amount {
  font-size: get-font-size('title');
  font-family: get-font('secondary');
  padding-bottom: 11px;
}
