.headerContainer {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
}
.headerWrapper {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding: 20px 32px;
  }
  @media screen and (min-width: 1280px) {
    padding: 20px 16px;
  }
}

.headerSettings {
  background-color: transparent;
  cursor: pointer;
}

.headerLogo {
  display: flex;
  align-items: center;
}
.appName {
  color: black;
  margin-left: 16px;
  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
}
.headerSide {
  display: flex;
}
.headerSideButtons {
  // display: flex;
  align-items: center;
}

.headerSideText {
  background-color: transparent;
  color: #bdbdbd;
  position: relative;
  margin-left: 10px;
}

.headerSideText:first-child:after {
  bottom: 0;
  right: -5px;
  position: absolute;
  content: '';
  background-color: #bdbdbd;
  width: 1px;
  height: 100%;
}

.headerLogout {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  margin: 0 0;
}
.headerSettings {
  display: block;
}
.headerLogout:hover .headerSideText,
.headerLogout:focus .headerSideText,
.headerLogout:hover Svg,
.headerLogout:focus Svg {
  color: #664ae2;
  fill: #6b4ae2;
}
.headerLogout Svg {
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 5px;
  fill: #e9cfcf;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  overflow-y: auto;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.buttonAdd {
  background: #24cca7;
  color: #ffffff;
  border-radius: 10px;
  width: 300px;
  cursor: pointer;
  margin-top: 10px;
  height: 50px;

  &:hover {
    background-color: #00ad84;
  }
}

.inputCategory {
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}

svg {
  fill: #4a56e2;
  transition: filter 0.3s ease, fill 0.3s ease;
  margin-bottom: -3px;
  margin-left: 8px;

  &:hover {
    fill: #172af1;
    filter: drop-shadow(2px 2px 4px rgba(0, 34, 255, 0.232));
  }
}
