@function get-color($key) {
  @return map-get($colors, $key);
}

@function get-font($key) {
  @return map-get($fonts, $key);
}

@function get-font-size($key) {
  @return map-get($fonts-size, $key);
}

$fonts: (
  'primary': 'Circe',
  'secondary': 'Poppins',
);

$fonts-size: (
  'primary': 18px,
  'secondary': 16px,
  'title': 30px,
  'button': 18px,
);

$colors: (
  'brand_color-first': #ffffff,
  'brand_color-second': #000000,
  'brand_color-third': #bdbdbd,
  'brand_color-fourth': #f7a9a0,
  'brand_color-fifth': #ebebeb,
  'brand_color-sixth': #455a64,
  'brand_color-seventh': #263238,
  'brand_color-eight': #e0e0e0,
  'brand_color-ninth': #a6a6a6,
  'brand_color-tenth': #24cca7,
  'brand_color-eleventh': #4a56e2,
  'brand_color-twelveth': #ff6596,
  'brand_color-thirteenth': #fed057,
  'brand_color-fourteenth': #ffd8d0,
  'brand_color-fifteenth': #fd9498,
  'brand_color-sixteenth': #c5baff,
  'brand_color-seventeenth': #6e78e8,
  'brand_color-eighteenth': #81e1ff,
  'brand_color-nineteenth': #00ad84,
);
