@import '../../../styles/utils/fonts';
@import '../../../styles/utils/vars';
@import '../../../styles/utils/mixins';

.modal {
  background: #fff;
  padding: 9px;
  width: 100vw;
  max-width: 768px;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    & svg {
      stroke: black;
      stroke-width: 1;
    }
  }
  &__title {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    width: 280px;
  }
}

.form {
  &__label {
    position: relative;
  }
  &__checkbox_container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
  }

  &__checkbox_label {
    font-family: 'Circe';
    font-weight: 700;
    font-size: 16px;
    color: get-color('gray2');
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-left: 23px;
    &_expense {
      color: get-color('pink4');
    }
    &_income {
      color: get-color('green1');
    }
  }

  &__checkbox_input {
    display: none;
  }

  &__checkbox_custom {
    width: 80px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid get-color('gray2');
    position: relative;
  }

  &__slider {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: get-color('pink4');
    color: white;
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 400;
    top: 50%;
    box-shadow: 0 6px 15px get-color('pink4');
    transform: translateX(calc(100% - 2px)) translateY(-50%);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  }

  &__checkbox_input:checked + &__checkbox_custom &__slider {
    transform: translateX(calc(-50% + 8px)) translateY(-50%);
    background-color: get-color('green1');
    box-shadow: 0 6px 15px get-color('green1');
  }

  &__input {
    margin-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid get-color('gray2');
    font-family: 'Circe';
    font-size: 18px;
    height: 32px;
    &_flex {
      // display: flex;
      // gap: 32px;
      margin-bottom: 40px;
      & label {
        width: 280px;
        height: 32px;
        position: relative;
        & input {
          text-align: center;
        }
        & .form__date {
          display: flex;
          justify-content: center;
          & input {
            text-align: center;
            // width: 181px;
          }
        }
      }
    }
  }
  &__date {
    opacity: 0.9;
  }
  &__flex_container {
    justify-content: center;
    align-items: center;
    // margin: 0 53px;
  }
  &__category {
    width: 100%;
    color: get-color('gray2');
    & option {
      font-family: 'Circe';
      font-size: 18px;
      color: black;
    }
    &_active {
      color: black;
    }
  }
  &__btn_container {
    & button {
      width: 300px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 17px;
  }
}
.error_message {
  position: absolute;
  top: 30px;
  left: 0;
  color: get-color('pink4');
  font-size: 14px;
  line-height: 1rem;
}

@include mq('tablet') {
  .modal {
    padding: 40px 73px;
    border-radius: 20px;
    width: 540px;
    height: 650px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }
    &__title {
      font-size: 30px;
      margin: 0 auto 40px;
    }
  }
  .form {
    &__checkbox_container {
      margin-bottom: 42px;
    }
    &__input {
      &_flex {
        display: flex;
        gap: 32px;
        & label {
          width: 181px;
          height: 32px;
          position: relative;
          & input {
            text-align: center;
          }
          & .form__date input {
            text-align: center;
            width: 181px;
          }
        }
      }
    }
    &__btn_container {
      margin-bottom: 40px;
    }
  }
}
@include mq('desktop') {
  .modal {
    padding: 40px 20px;
  }

  .form {
    &__flex_container {
      margin: 0 53px;
    }
  }
}
