<html>
  <head>
    <style>
      body { font-family: 'Arial', sans-serif; background-color: #f7f7f7; color:
      #444; line-height: 1.6; margin: 0; padding: 0; } .container { max-width:
      600px; margin: 40px auto; padding: 20px; background-color: #ffffff;
      border: 1px solid #d4d4d4; border-radius: 5px; } .header { padding: 10px
      0; border-bottom: 1px solid #d4d4d4; text-align: center; color: #333; }
      .header h1 { font-size: 24px; margin: 0; } .content { padding: 20px;
      color: #555; } .content p { margin-left: 20px; margin-right: 20px;
      font-size: 16px; } .verify-link { display: block; width: 280px; height:
      50px; line-height: 50px; /* Centrowanie tekstu wertykalnie */ margin: 20px
      auto; background-color: #00ad84; /* Zielony kolor przycisku */ color:
      #ffffff; /* Biały tekst */ text-decoration: none; text-align: center;
      text-transform: uppercase; font-size: 18px; letter-spacing: 1.8px;
      border-radius: 20px; border: 0; cursor: pointer; } .footer { padding: 15px
      20px; text-align: center; font-size: 14px; color: #888; border-top: 1px
      solid #d4d4d4; } .footer p { margin: 0; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Verify Your Email for Wallet</h1>
      </div>
      <div class="content">
        <p>To complete your registration for the Wallet application, please
          verify your email address by clicking the button below:</p>
        <a href="{{verificationUrl}}" class="verify-link">Verify</a>
      </div>
      <div class="footer">
        <p>If you did not request this email, please ignore it.</p>
      </div>
    </div>
  </body>
</html>